-@breadcrumbs.add "#{@profile.description} profile", profile_path(@profile)
-@breadcrumbs.add "update", edit_profile_path(@profile)
%form{method: "post", action: profile_path(@profile)}
  %fieldset
    %legend Update Profile
    %input{type: "hidden", name: "_method", value: "put"}
    %ul
      %li
        %label{for: "description"} Description
        %input{type: "text", id: "description", value: @profile.description, name: "profile[description]"}
        -unless @profile.errors.empty? && @profile.errors[:description].empty?
          =@profile.errors[:description].to_sentence
      %li
        %input{type: "submit", value: "Update"}
