-@breadcrumbs.add "create a profile", new_profile_path
%form{method: "post", action: profiles_path, class: "form-horizontal"}
  %fieldset
    %legend Create a Profile
    =render partial: "forms/text", locals: {object: @profile, method: "description", label: "Description"}
    =render partial: "forms/submit", locals: {value: "Save Profile"}
