-@page_title = "Update your account"
-@breadcrumbs.add "my account", account_path
-@breadcrumbs.add "update", edit_path
%form{method: "post", action: update_path}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update your account
    %ul
      %li
        %label{for: "username"} Username
        %input{type: "text", id: "username", value: @user.username, name: "user[username]", readonly: "true"}
        -unless @user.errors.empty? && @user.errors[:username].empty?
          =@user.errors[:username].to_sentence
      %li
        %label{for: "email"} Email
        %input{type: "text", id: "email", value: @user.email, name: "user[email]"}
        -unless @user.errors.empty? && @user.errors[:email].empty?
          =@user.errors[:email].to_sentence
      %li
        %label{for: "password"} Password
        %input{type: "password", id: "password", value: @user.password, name: "user[password]"}
        -unless @user.errors.empty? && @user.errors[:password].empty?
          =@user.errors[:password].to_sentence
      %li
        %label{for: "password_confirmation"} Confirm password
        %input{type: "password", id: "password_confirmation", value: @user.password_confirmation, name: "user[password_confirmation]"}
        -unless @user.errors.empty? && @user.errors[:password_confirmation].empty?
          =@user.errors[:password_confirmation].to_sentence
      %li
        %input{type: "submit", value: "Update"}
    %p
      *Leave the password fields blank to keep your password the same.
