-@page_title = "Update your account"
-@breadcrumbs.add "my account", account_path
-@breadcrumbs.add "update", edit_path
%form{method: "post", action: update_path, class: "form-horizontal"}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update your account
    %span{class: "help-block"}
      *Leave the password fields blank to keep your password the same.
    %div{class: "control-group #{@user.errors[:username].empty? ? "" : "error"}"}
      %label{for: "username", class: "control-label"}
        Username
      %div{class: "controls"}
        %input{type: "text", id: "username", value: @user.username, name: "user[username]", class: "span4", disabled: true}
        -unless @user.errors[:username].empty?
          %span{class: "help-inline"}
            =@user.errors[:username].to_sentence
    =render partial: "forms/text", locals: {object: @user, method: "email", label: "Email"}
    =render partial: "forms/password", locals: {object: @user, method: "password", label: "Password"}
    =render partial: "forms/password", locals: {object: @user, method: "password_confirmation", label: "Confirm Password"}
    =render partial: "forms/submit", locals: {value: "Update"}

