-@page_title = "Signup for an account"
-@breadcrumbs.add "signup", signup_path
%form{method: "post", action: create_path, class: "form-horizontal"}
  %fieldset
    %legend Signup for an account

    =render partial: "forms/text", locals: {object: @user, method: "first_name", label: "First Name"}
    =render partial: "forms/text", locals: {object: @user, method: "last_name", label: "Last Name"}
    =render partial: "forms/text", locals: {object: @user, method: "username", label: "Username"}
    =render partial: "forms/text", locals: {object: @user, method: "email", label: "Email"}
    =render partial: "forms/password", locals: {object: @user, method: "password", label: "Password"}
    =render partial: "forms/password", locals: {object: @user, method: "password_confirmation", label: "Confirm Password"}

    %div{class: "control-group #{@user.errors[:agreement].empty? ? "" : "error"}"}
      %div{class: "controls"}
        %label{for: "agreement", class: "checkbox"}
          %input{type: "checkbox", id: "agreement", checked: @user.agreement, name: "user[agreement]", value: "yes"}
          By checking this, you agree to our terms and conditions.
        -unless @user.errors.empty? && @user.errors[:agreement].empty?
          %span{class: "help-inline"}
            =@user.errors[:agreement].to_sentence

    %div{class: "control-group"}
      %div{class: "controls"}
        %button{type: "submit", value: "Signup", class: "btn btn-primary"} Sign Up
        or
        =link_to "Already a member?", login_path
