=@user.username
\|
=@user.email
\|
=@user.created_at
\|
=@user.updated_at
%ul
  %li
    =link_to "create a profile", new_profile_path
  %li
    =link_to "create a contact", new_contact_path
  %li
    =link_to "addressbook", contacts_path
  %li
    =link_to "update account", edit_path
