%div{class: "hero-unit"}
  %h1 A Smarter Addressbook
  %p
    Mwanga is the premier socially-aware, smart, always-updated contact management system
  %p
    =link_to "Register for Free", signup_path, class: "btn btn-primary btn-large"
