-@page_title = "Update contact"
-@breadcrumbs.add "#{@contact.full_name}", contact_path(@contact)
-@breadcrumbs.add "update", edit_contact_path(@contact)
%form{method: "post", action: contact_path(@contact), class: "form-horizontal"}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update contact
    =render partial: "forms/text", locals: {object: @contact, method: "first_name", label: "First Name"}
    =render partial: "forms/text", locals: {object: @contact, method: "last_name", label: "Last Name"}
    =render partial: "forms/submit", locals: {value: "Update"}
