-@page_title = "Update contact"
%form{method: "post", action: contact_path(@contact)}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update contact
    %ul
      %li
        %label{for: "first_name"} First Name
        %input{type: "text", id: "first_name", value: @contact.first_name, name: "contact[first_name]"}
        -unless @contact.errors.empty? && @contact.errors[:first_name].empty?
          =@contact.errors[:first_name].to_sentence
      %li
        %label{for: "last_name"} Last Name
        %input{type: "text", id: "last_name", value: @contact.last_name, name: "contact[last_name]"}
        -unless @contact.errors.empty? && @contact.errors[:last_name].empty?
          =@contact.errors[:last_name].to_sentence
      %li
        %input{type: "submit", value: "Update"}
