%div 
  Names
  %p
    Name: #{@contact.first_name} #{@contact.last_name}
%div 
  Emails
  -@contact.emails.each do |email|
    =render partial: "emails/email", locals: {email: email}

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
