%div 
  Name: #{@contact.first_name} #{@contact.last_name} (#{link_to 'edit', edit_contact_path(@contact)})
%div 
  Emails (#{link_to "add", new_contact_email_path(@contact)})
  -@contact.emails.each do |email|
    =render partial: "emails/email", locals: {email: email}
