%form{method: "post", action: contact_first_names_path(@contact)}
  %fieldset
    %legend Create a first name
    %ul
      %li
        %label{for: "name"} Name
        %input{type: "text", id: "first_name", value: @first_name.name, name: "first_name[name]"}
        -unless @first_name.errors.empty? && @first_name.errors[:name].empty?
          =@first_name.errors[:name].to_sentence
      %li
        %input{type: "submit", value: "Save First Name"}
