-@breadcrumbs.add "first names", contact_last_names_path(@contact)
-@breadcrumbs.add "edit", edit_contact_last_name_path(@contact, @last_name)
%form{method: "post", action: contact_last_name_path(@contact, @last_name)}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update last name
    %ul
      %li
        %label{for: "name"} Name
        %input{type: "text", id: "last_name", value: @last_name.name, name: "last_name[name]"}
        -unless @last_name.errors.empty? && @last_name.errors[:name].empty?
          =@last_name.errors[:name].to_sentence
      %li
        %input{type: "submit", value: "Update Last Name"}
