%form{method: "post", action: contact_last_names_path(@contact)}
  %fieldset
    %legend Create a last name
    %ul
      %li
        %label{for: "name"} Name
        %input{type: "text", id: "last_name", value: @last_name.name, name: "last_name[name]"}
        -unless @last_name.errors.empty? && @last_name.errors[:name].empty?
          =@last_name.errors[:name].to_sentence
      %li
        %input{type: "submit", value: "Save last Name"}
