%div{class: "address"}
  -unless address.street.blank?
    =address.street
    %br
  -unless address.extended.blank?
    =address.extended
    %br
  -unless address.city.blank?
    =address.city
  -unless address.state.blank?
    =address.state
  -unless address.zipcode.blank?
    =address.zipcode
  -unless address.country.blank?
    %br
    =address.country
  %br
  =link_to 'Edit', edit_contact_address_path(address.contact, address)
  %form{method: "post", action: contact_address_path(address.contact, address)}
    %input{type: "hidden", name: "_method", value: "delete"}
    %input{type: "submit", value: "Delete"}
