@import "compass/reset"
@import "blueprint"
@import "config"

body
  background: $blueprint-background-color
  color: $font-color
a
  color: $link-color
  text-decoration: none
  
header
  height: 500px

nav
  background-color: #C5D2DB
  float: right
  padding: 10px
  margin: 30px
  line-height: 30px
  
  li
    display: inline
    padding: 10px
    margin: 10px
footer
  background: #191814
  height: 500px
