%div{class: "email"}
  -if email.description.blank?
    Address: #{email.address}
  -else
    #{email.description}: #{email.address}
  =link_to 'Edit', edit_contact_email_path(email.contact, email)
  %form{method: "post", action: contact_email_path(email.contact, email)}
    %input{type: "hidden", name: "_method", value: "delete"}
    %input{type: "submit", value: "Delete"}
