-@page_title = "Update an email for #{@contact.first_name} #{@contact.last_name}"
-@breadcrumbs.add "#{@email.address}", contact_email_path(@contact, @email)
-@breadcrumbs.add "update", edit_contact_email_path(@contact, @email)
%form{method: "post", action: contact_email_path(@contact, @email)}
  %input{type: "hidden", name: "_method", value: "put"}
  %fieldset
    %legend Update email
    %ul
      %li
        %label{for: "address"} Address
        %input{type: "text", id: "address", value: @email.address, name: "email[address]"}
        -unless @email.errors.empty? && @email.errors[:address].empty?
          =@email.errors[:address].to_sentence
      %li
        %label{for: "description"} Description
        %input{type: "text", id: "description", value: @email.description, name: "email[description]"}
        -unless @email.errors.empty? && @email.errors[:description].empty?
          =@email.errors[:description].to_sentence
      %li
        %input{type: "submit", value: "Update"}
