%nav{id: "breadcrumbs"}
  %ul
    -@breadcrumbs.list.each_with_index do |hash, index|
      -hash.each do |name, path|
        -if @breadcrumbs.list.length > 1
          -if index == 0 && index != @breadcrumbs.list.length - 1
            %li
              =link_to name, path
              %span /
          -if index != 0 && index != @breadcrumbs.list.length - 1
            %li
              =link_to name, path
              %span /
          -if index == @breadcrumbs.list.length - 1
            %li
              =name
