!!! 5
%html
  %head
    %title Mwanga - #{@page_title || "The Enlightened Addressbook"}
    =stylesheet_link_tag "application"
  %body
    =render partial: "layouts/flash", locals: {flash: flash}
    %div{class: "navbar navbar-inverse navbar-fixed-top"}
      %div{class: "navbar-inner"}
        %div{class: "container-fluid"}
          %ul{class: "nav"}
            %li
              %a{href: account_path, class: "brand"} My Account
            %li
              %a{href: contacts_path} Contacts
          %form{class: "search-form navbar-form pull-right"}
            %input{type: "text", class: "input-medium search-query"}
            %button{type: "submit", class: "btn"} Search
