!!! 5
%html
  %head
    %title Mwanga - #{@page_title || "An Enlightened Addressbook"}
    =stylesheet_link_tag "application"
  %body
    -unless flash[:notice].blank?
      %div{id: "flash-notice"}
        =flash[:notice]
    %header
      -if @current_user
        %nav
          %ul
            %li
              =link_to "home", account_path
            %li
              =link_to "my info", myinfo_path
            %li
              =link_to "privacy", privacy_edit_path
            %li
              =link_to "logout", logout_path
      -else
        %nav
          %ul
            %li
              =link_to "home", root_path
            %li
              =link_to "login", login_path
            %li
              =link_to "signup", signup_path
    %section{id: "main"}
      =render partial: "layouts/breadcrumbs"
      =yield
    %footer
