!!! 5
%html
  %head
    %title Mwanga - #{@page_title || "An Enlightened Addressbook"}
    =stylesheet_link_tag "application"
  %body
    -flash.each do |key, msg|
      =content_tag :div, msg, :id => key
    %header
      %nav
        %ul
          %li
            =link_to "home", account_path
          %li
            =link_to "my info", myinfo_path
          %li
            =link_to "privacy", privacy_edit_path
          %li
            =link_to "logout", logout_path
    %section{id: "main"}
      =yield
    %footer
